In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [46]:
mutli_label_songs_df = pd.read_csv("./data/MultiLabel_original.csv")
song_labels = [
                "Calmness",
                "Sadness",
                "Power",
                "Tension",
                "Amazement",
                "Solemnity",
                "Tenderness",
                "Joyful activation",
                "Nostalgia",
            ]
tweets_df = pd.read_csv("./data/train.tsv", sep="\t")
tweet_labels = ["anger",
"disgust",
"fear",
"joy",
"neutral",
"sadness",
"surprise"]

In [47]:
mutli_label_songs_df.head()

,id,artist,genre,title,album,year,lyrics,Amazement,Calmness,Joyful activation,Nostalgia,Power,Sadness,Solemnity,Tenderness,Tension
0,0,Nirvana,Rock,You Know You�re Right,Nirvana,2002.0,I will never bother you\r\nI will never promis...,0,2,0,0,0,1,0,0,0
1,1,Damian Marley,Reggae,Here We Go,Stony Hill,2017.0,Here we go\r\nMy big ego is gonna get me in tr...,0,0,0,0,3,0,0,0,1
2,2,The Mission UK,Rock,Jade,Another Fall from Grace,2016.0,She came as Lolita dressed as Venus\r\nAnd ado...,1,1,0,0,0,0,1,2,0
3,3,UB40,Reggae,Food For Thought,Signing Off,1980.0,"Ivory Madonna, dying in the dust\r\nWaiting fo...",0,0,1,0,0,2,0,0,1
4,4,Johnny Cash,Country,I�ve Been Everywhere,American II: Unchained,1996.0,I was totin' my pack along the dusty Winnemucc...,1,1,2,0,0,0,0,0,0

In [48]:
mutli_label_songs_df[["lyrics", "Amazement"]]

                                                 lyrics  Amazement
0     I will never bother you\r\nI will never promis...          0
1     Here we go\r\nMy big ego is gonna get me in tr...          0
2     She came as Lolita dressed as Venus\r\nAnd ado...          1
3     Ivory Madonna, dying in the dust\r\nWaiting fo...          0
4     I was totin' my pack along the dusty Winnemucc...          1
...                                                 ...        ...
1250  Yesterday\r\nAll my troubles seemed so far awa...          0
1251  Picture myself as a thin white child\r\nBack t...          0
1252  Standing on the beach\r\nWith a gun in my hand...          0
1253  A little baby told God\r\nHey I'm kinda scared...          0
1254  The older I get\r\nThe more I think\r\nYou onl...          1

[1255 rows x 2 columns]

In [49]:
mutli_label_songs_df[mutli_label_songs_df.loc[:, song_labels] >= 1] = 1

In [50]:
combined_df = pd.DataFrame(mutli_label_songs_df[["lyrics"] + song_labels])

In [ ]:
combined_df.loc[]

In [53]:
combined_df.loc[(combined_df["Nostalgia"] == 1) | (combined_df["Sadness"] == 1), "Sadness"] = 1

In [82]:
combined_df = combined_df.drop(["Nostalgia", "Solemnity"], axis=1)

In [84]:
combined_df["Disgust"] = 0

In [85]:
combined_df

,lyrics,Calmness,Sadness,Power,Tension,Amazement,Tenderness,Joyful activation,Disgust
0,I will never bother you\r\nI will never promis...,1,1,0,0,0,0,0,0
1,Here we go\r\nMy big ego is gonna get me in tr...,0,0,1,1,0,0,0,0
2,She came as Lolita dressed as Venus\r\nAnd ado...,1,0,0,0,1,1,0,0
3,"Ivory Madonna, dying in the dust\r\nWaiting fo...",0,1,0,1,0,0,1,0
4,I was totin' my pack along the dusty Winnemucc...,1,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...
1250,Yesterday\r\nAll my troubles seemed so far awa...,0,1,0,0,0,1,0,0
1251,Picture myself as a thin white child\r\nBack t...,1,0,1,0,0,1,0,0
1252,Standing on the beach\r\nWith a gun in my hand...,0,0,1,1,0,0,0,0
1253,A little baby told God\r\nHey I'm kinda scared...,0,0,0,0,0,1,0,0
1254,The older I get\r\nThe more I think\r\nYou onl...,1,1,1,0,1,0,0,0

In [38]:
tweets_df.head()

                                               tweet label tweet_id
0  My favourite food is anything I didn't have to...     4  eebbqej
1  Now if he does off himself, everyone will thin...     4  ed00q6i
2                     WHY THE FUCK IS BAYLESS ISOING     0  eezlygj
3                        To make her feel threatened     2  ed7ypvh
4                             Dirty Southern Wankers     0  ed0bdzj

In [67]:
disgust_df = pd.DataFrame(tweets_df.loc[tweets_df["label"] == "1", "tweet"])

In [68]:
disgust_df

                                                   tweet
132                   youre a disgusting piece of filth.
197                                               [NAME]
233    Not surprised, damn that sucks. Concussions ar...
278    ick! That makes me feel gross. I have "Addison...
354    I feel awful posting it, but I couldn’t not sh...
...                                                  ...
43255  worst is when people with dogs think they know...
43265                           oh god this is the worst
43266  What was the original post? If it was as awful...
43296  But really Vanilla Ice is scum RIP [NAME] and ...
43340  That's awful. I'm glad [NAME] doing better, bu...

[498 rows x 1 columns]

In [71]:
song_labels

['Calmness',
 'Sadness',
 'Power',
 'Tension',
 'Amazement',
 'Solemnity',
 'Tenderness',
 'Joyful activation',
 'Nostalgia']

In [86]:
required_labels = ['Calmness',
 'Sadness',
 'Power',
 'Tension',
 'Amazement',
 'Tenderness',
 'Joyful activation',
 'Disgust']

In [87]:
disgust_df[required_labels] = pd.Series([0,0,0,0,0,0,0,1])

In [88]:
disgust_df

,tweet,Calmness,Sadness,Power,Tension,Amazement,Tenderness,Joyful activation,Disgust
132,youre a disgusting piece of filth.,0,0,0,0,0,0,0,1
197,[NAME],0,0,0,0,0,0,0,1
233,"Not surprised, damn that sucks. Concussions ar...",0,0,0,0,0,0,0,1
278,"ick! That makes me feel gross. I have ""Addison...",0,0,0,0,0,0,0,1
354,"I feel awful posting it, but I couldn’t not sh...",0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...
43255,worst is when people with dogs think they know...,0,0,0,0,0,0,0,1
43265,oh god this is the worst,0,0,0,0,0,0,0,1
43266,What was the original post? If it was as awful...,0,0,0,0,0,0,0,1
43296,But really Vanilla Ice is scum RIP [NAME] and ...,0,0,0,0,0,0,0,1
43340,"That's awful. I'm glad [NAME] doing better, bu...",0,0,0,0,0,0,0,1

In [98]:
disgust_df = disgust_df.rename(columns={"Lyrics":"lyrics"})

In [124]:
c_df = pd.concat([combined_df, disgust_df])

In [126]:
emotion_labels = {
    "Calmness":"Trust",
    "Sadness": "Sadness",
    "Power": "Anger",
    "Tension": "Fear",
    "Amazement": "Surprise",
    "Tenderness": "Anticipation",
    "Joyful activation": "Joy",
    "Nostalgia": "Sadness",
    "Disgust":"Disgust"
}

In [127]:
c_df = c_df.rename(columns=emotion_labels)

In [129]:
c_df = c_df[["lyrics", 'Joy', 'Trust', 'Fear', 'Surprise','Sadness', 'Disgust', 'Anger', 'Anticipation']]

In [130]:
c_df.to_csv("test.csv", index = False)

In [131]:
c_df.head()

,lyrics,Joy,Trust,Fear,Surprise,Sadness,Disgust,Anger,Anticipation
0,I will never bother you\r\nI will never promis...,0,1,0,0,1,0,0,0
1,Here we go\r\nMy big ego is gonna get me in tr...,0,0,1,0,0,0,1,0
2,She came as Lolita dressed as Venus\r\nAnd ado...,0,1,0,1,0,0,0,1
3,"Ivory Madonna, dying in the dust\r\nWaiting fo...",1,0,1,0,1,0,0,0
4,I was totin' my pack along the dusty Winnemucc...,1,1,0,1,0,0,0,0